$colour-highlight: #3498db;
$colour-notify: #ddd;
$colour-error: #f00;
$colour-success: #458B00;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

input[type='text'] {
    border: 1px #ccc solid;
    padding: 5%;
    width: 89%;
    margin-right: 1%;
}

input[type='text']:focus {
    border-color: $colour-highlight;
}

input[type='submit'] {
    padding: 20px;
}

table {
    width: 100%;
    max-width: 1000px;
}

th {
    text-align: left;
}

td {
    width: 33%;
}

.notify {
    padding: 10px;
    margin-bottom: 20px;
    background: $colour-notify;
}

.error, .success {
    padding-left: 20px;
}

.error {
    color: $colour-error;
}

.success {
    color: $colour-success;
}